{% extends 'workshop/base.html' %}

{% block title %} Контакты {% endblock %}

{% block content %}

<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acc3279793cc7f3cf8c761e92449f69aba7d0738f0e351df0f3b1ed22fefbebdf&amp;source=constructor" width="444" height="451" frameborder="0"></iframe>
<br>
<div>
    <h3>Fix It</h3>
        г. Астрахань ул. Жилая д. 6А
        тел.: 8 996 470 83 30
    
        <h3>Mobile Fix</h3>
        г. Астрахань ул. Яблочкова д. 11
        тел.: 8 961 655 66 77
</div>
{% endblock %}